* {
  box-sizing: border-box;
}
.img {
  width: 100%;
}
body {
  padding:0;
  margin: 0;
  font-family: Helvetica;
}
header {
  background-color: lightgray;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav {
  margin:auto;
  border-top: 3px solid red;
  width: 920px;
  height: 50px;
}
.col-left {
  width: 20%;
  padding-top: 10px;
  display:block;
  float: left;
}
.col-middle {
  width: 40%;
  display:block;
  float: left;
}
.col-right {
  width: 20%;
  padding-top: 10px;
  display:block;
  float: right;
}
li a:hover {
    color: red;
}
li a {
    color: black;
    text-decoration: none;
    margin: 10px;
    float: left;
}
ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 8px 0 0 0;
  }
.mainbody {
  padding-top: 100px;
  width: 300px;
  margin: auto;
}
  .tdm {
    text-align: center;
    font-size: 32px;
  }
  .info {
    text-align: center;
    padding-bottom: 40px;
  }
.picsection {
  width: 920px;
  margin: auto;
  display:flex;
}
.box1 {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
  flex: 2;
  }
.onea {
    flex:2;
    min-width: 100%;
  }
.bottombox {
  display: flex;
    flex: 3;
  }
  .oneb {
    flex:1.2;
    margin-right: 10px;
  }
  .onec {
    flex:1.8;
  }
.box2 {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  }
  .twoa {
    flex: 1;
    min-width: 100%;
    margin-bottom: 10px;
    }
  .twob {
    flex: 1;
    min-width: 100%;
    margin-bottom: 10px;
    }
.belowpic {
    width: 920px;
    height: 300px;
    margin: auto;
  }
.hl1 {
      width: 250px;
      padding-top: 20px;
      float:left;
      color: red;
    }
.hl2 {
      padding-top: 20px;
      float:left;
      color: black;
    }
.whatsnewinfo {
      width: 230px;
      color: black
    }
.modernlayoutinfo {
      width: 630px;
      columns: 3;
    }
footer {
  text-align: center;
  font-size: 15px;
}
